@import "../../../assets/styles/variables";

.footer {
  color: $background;
  padding: 1.5rem 2rem;
  background-color: $primary;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  @media (width < 560px) {
    flex-direction: column;
  }
  // .footer__list
  &__list {
    display: inline-flex;
    align-items: center;
    gap: 0 1.5rem;
  }
  // .footer__item
  &__item {
  }
  // .footer__link
  &__link {
    transition: color 0.3s ease 0s;
    &:hover {
      color: $gray-light;
    }
  }
  // .footer__copyright
  &__copyright {
  }
}
